<!DOCTYPE html>
<html>
<head>
  <title>Provender</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>



<div class="row">
	
	<div class=" contain-to-grid">
		<nav class="top-bar">
			<ul class="title-area">
				<li class="name"><h1><%= link_to "Provender" , root_path %></h1></li>
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>
		</nav>
		
		</div>
	
	
	<%= yield %>
	
	
</div>

	


</body>
</html>

